In [1]:
# import numpy, pandas, seaborn, matplotlib just because
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

import pickle

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
covid = pd.read_csv('competitive_states_covid_counts.csv')

In [3]:
covid.head()

      date  AZ  FL  GA  IA  MI  NV  NH  NC  OH  PA  TX  WI
0  1/22/20   0   0   0   0   0   0   0   0   0   0   0   0
1  1/23/20   0   0   0   0   0   0   0   0   0   0   0   0
2  1/24/20   0   0   0   0   0   0   0   0   0   0   0   0
3  1/25/20   0   0   0   0   0   0   0   0   0   0   0   0
4  1/26/20   1   0   0   0   0   0   0   0   0   0   0   0

In [4]:
polls_fl = pd.read_csv('polls_fl.csv')

In [5]:
polls_fl.head()

,state,pollster,sponsor,start.date,end.date,entry.date.time..et.,number.of.observations,population,mode,biden,trump,biden_margin,other,undecided,url,include,note
0,FL,University of North Florida,First Coast News,2/10/20,2/18/20,2/19/20 22:16,668,rv,Live Phone,49.0,48.0,1.0,NaN,NaN,https://www.unf.edu/uploadedFiles/aa/coas/porl...,True,NaN
1,FL,Saint Leo University,NaN,2/17/20,2/22/20,3/2/20 14:11,900,lv,Online,51.2,40.3,10.9,NaN,NaN,http://polls.saintleo.edu/new-saint-leo-univer...,True,NaN
2,FL,Florida Atlantic University,NaN,3/5/20,3/7/20,3/10/20 8:10,1216,rv,IVR/Online,49.4,50.6,-1.2,NaN,NaN,https://business.fau.edu/departments/economics...,True,NaN
3,FL,Latino Decisions,Univision,3/6/20,3/12/20,3/16/20 12:07,1071,rv,Live Phone/Online/Text,45.0,48.0,-3.0,NaN,NaN,https://st1.uvnimg.com/11/92/701333304b6daa2b6...,True,NaN
4,FL,AtlasIntel,NaN,3/14/20,3/16/20,3/16/20 22:57,1100,rv,Online,45.4,44.9,0.5,NaN,NaN,https://projects.fivethirtyeight.com/polls/202...,True,NaN

In [6]:
polls_fl.drop(['state', 'pollster', 'sponsor', 'start.date', 'entry.date.time..et.', 'number.of.observations', 'population', 'mode', 'biden', 'trump', 'other', 'undecided', 'url', 'include', 'note'], axis=1, inplace=True)
polls_fl = polls_fl.rename(columns = {'end.date':'ds'})
polls_fl = polls_fl.rename(columns = {'biden_margin':'y'})
polls_fl.head()

        ds     y
0  2/18/20   1.0
1  2/22/20  10.9
2   3/7/20  -1.2
3  3/12/20  -3.0
4  3/16/20   0.5

In [7]:
from fbprophet import Prophet
model = Prophet()
model.fit(polls_fl)

INFO:numexpr.utils:NumExpr defaulting to 4 threads.
INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [9]:
polls_fl.tail()

         ds    y
33  8/16/20  5.0
34  8/16/20  8.0
35  8/22/20  4.0
36  8/23/20  3.0
37  8/30/20  2.0